.content-container {
  max-width: $legacy-max-width;
  margin-left: auto;
  margin-right: auto;
  
  @supports (display: grid) {
    margin-left: initial;
    margin-right: initial;
    max-width: none;
  }
  display: grid;
  grid-template-columns: 1em [content-start] repeat(3, 1fr) [halfway] repeat(3, 1fr) [content-end] 1em;
  grid-template-rows: [header] auto [content] auto [footer] auto;

  @include mappy-bp(medium) {
    grid-template-columns: 1em 1fr [content-start] repeat(2, 1fr) [halfway] repeat(2, 1fr) [content-end] 1fr 1em;
    grid-column-gap: 1em;
  }

  @include mappy-bp(large) {
    grid-template-columns: 1em repeat(3, 1fr) [content-start] repeat(3, 1fr) [halfway] repeat(3, 1fr) [content-end] repeat(3, 1fr) 1em;
  }
}
