.content-container {
  display: grid;
  grid-template-columns: [content-start] 1fr 6fr 1fr [content-end];
  grid-template-rows: [header] auto [content] auto [footer] auto;

  @include mappy-bp(medium) {
    grid-template-columns: [content-start] 1fr 2fr 1fr [content-end];
    grid-column-gap: 20px;
  }
}
