.site-header {
  // grid-column: content-start / content-end;
  // grid-row: header;
  margin-bottom: 1.5em;
  position: relative;
}

.site-title {
  display: inline-block;
  font-family: 'JensenRecut-Regular';
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
  background-image: url('/static/images/swan.png');
  background-size: 60px;
  background-position: 10px 10px;
  padding: 18px 0 20px 86px;

  @include mappy-bp(medium) {
    font-size: 30px;
    background-size: 127px;
    padding: 82px 0 58px 205px;
    background-position: 35px 35px;
  }

  @include mappy-bp(large) {
    background-position-x: 70px;
    padding-left: 240px;
  }
}

.primary-nav {
  display: none;
  margin-top: -26px;
  > a {
    display: block;
    text-decoration: none;
    text-align: right;
    color: #2f424c;
    padding: 7px 20px;
    &:hover {
      background-color: darken($color-background-header, 20%);
    }
    &:active,
    &.active {
      background-color: lighten($color-background-header, 10%);
    }
  }
  &.is-active {
    display: block;
  }

  @include mappy-bp(medium) {
    display: inherit;
    text-align: right;
    > a {
      display: inline-block;
      @include ms-respond(font-size, -1);
      padding: 2px 10px;
    }
  }

  @include mappy-bp(large) {
    position: absolute;
    right: 0;
    top: 89px;
    margin: 0;
    > a {
      padding: 9px 20px;
      // @include ms-respond(font-size, 0);
      &.active {
        background-color: $color-background;
      }
    }
  }
}

.hamburger {
  position: absolute;
  right: 0;
  top: 14px;
  @include mappy-bp(medium) {
    display: none;
  }
}

.hamburger-label {
  display: block;
  font-size: 12px;
}
