<header class="site-header">
  {{ if .IsHome }}
    <span class="site-title">{{ .Site.Title }}</span>
  {{ else }}
    <a href="/" class="site-title">{{ .Site.Title }}</a>
  {{ end }}
  <button class="hamburger hamburger--minus" type="button" aria-label="Menu" aria-controls="navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    <!-- <span class="hamburger-label">Menu</span> -->
  </button>
  <nav id="navigation" class="primary-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <a class="primary-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (hasPrefix $currentPage.URL .URL) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
    {{ end }}
  </nav>
</header>
