
////
/// Variables
/// MIT-License © 2016
/// @author Felix Spöttel
/// @group Config
////

/// System font stack, see: https://bitsofco.de/the-new-system-font-stack/
/// @type {List}
$system-font-stack:
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  sans-serif;

/// Regular font family
/// @type {List}
$text-font-stack: $system-font-stack !default;

/// Text line-height
/// @type {Number}
$text-line-height: 1.5 !default;

/// Background color
/// @type {Color}
$color-background: #D7DBDF !default;
$color-background-header: rgb(239, 242, 244);

/// Copy text-color
/// @type {Color}
$color-text: #232323 !default;

/// Brand color
/// @type {Color}
$color-brand: #2271ff !default;

$breakpoints: (
  'small': 320px,
  'medium': 740px,
  'large': 1110px,
) !default;

/// Webfont-path prefix
/// @type {String}
$path-webfonts: "webfonts/" !default;

/// Image-path prefix
/// @type {String}
$path-images: "../images/" !default;

// Hamburger menu
$hamburger-types: (minus);
$hamburger-layer-width: 30px;
$hamburger-layer-height : 3px;
$hamburger-layer-spacing: 4px;

// Modular scale
$modularscale: (
  base: 14px,
  ratio: 1.5,
  740px: (
    ratio: 1.2,
  ),
  1020px: (
    base: 16px,
    ratio: 1.3,
  ),
);

// legacy browser max width
$legacy-max-width: 650px;
