{{ define "main" }}
  <header class="content-header">
    <div class="content">
      <h1 class="headline">{{ .Params.headline }}</h1>
      <h2 class="subheader">{{ .Params.subheader }}</h2>
    </div>
    <!-- <img src="{{ .Params.header_image }}" alt="{{ .Title }}" class="header-image"/> -->
  </header>
  <div class="content-container">
    {{ with .Params.featureblocks }}
      <ul class="feature-blocks">
        {{ range . }}
          <li>
            <a href="{{ .location }}">
              <h1 class="title">{{ .title }}</h1>
              <p class="description">{{ .description }}</p>
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
  <div class="content-container">
    <figure class="testimonial">
      <i class="fa fa-quote-left" aria-hidden="true"></i>
      <blockquote>{{ .Params.quote }}</blockquote>
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </figure>
  </div>
  <ul class="inline-links">
    <li><a href="/contact">Contact</a></li>
  </ul>
{{ end }}
