.work-landing {
  .client-name {
    max-width: $legacy-max-width;
    margin-left: auto;
    margin-right: auto;

    grid-column: content-start / content-end;
    font-weight: bold;

    @supports (display: grid) {
      margin-left: initial;
      margin-right: initial;
      max-width: none;
    }
  }
  .client-work {
    grid-column: content-start / content-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    
    grid-gap: 1em;
    // justify-content: center;
    // > li:first-child:last-child {
      // justify-self: center;
      // max-width: 50%;
    // }
    max-width: $legacy-max-width;
    margin-left: auto;
    margin-right: auto;

    @include mappy-bp(small medium) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @include mappy-bp(large) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @supports (display: grid) {
      margin-left: initial;
      margin-right: initial;
      max-width: none;
    }

    > li {
      > a {
        text-decoration: none;
        color: #000;
        h3 {
          font-weight: normal;
        }
        &:hover {
          h3 {
            color: complement(#5a7e92);
          }
        }
      }
    }
  }
  .testimonial {
    // background-color: complement(#5a7e92);
    font-family: 'Cutive';
    background-color: lighten(#5a7e92, 40%);
    // color: #fff;
    color: #333;
    // color: darken(#5a7e92, 10%);
    text-align: center;
    @include ms-respond(font-size, 2);
    margin: 0 0 4em 0;
    padding: 2em 3em;
    border: 0;
    border-top: solid 5px #5a7e92;
    border-bottom: solid 5px #5a7e92;
    // border-top: solid 1px #666;
    // border-bottom: solid 1px #666;
    // box-shadow: inset 0 0 1em gold;
    // box-shadow: 0 0 1em #666;
    &:before,
    &:after {
      display: none;
    }
    blockquote {
      margin: 0;
    }
    .fa {
      color: #5a7e92;
      margin: 0;
      top: 1.5em;
    }
    .fa.fa-quote-left {
      left: 20px;
    }
    .fa.fa-quote-right {
      right: 20px;
    }

    @include mappy-bp(medium) {
      padding: 3em 5em;
    }

    @include mappy-bp(large) {
      padding: 3em 8em;
      .fa.fa-quote-left {
        left: 2em;
      }
      .fa.fa-quote-right {
        right: 2em;
      }
    }
  }
}
