{{ define "main" }}
  <div class="content-container">
    <article class="content">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      <!-- <form name="contact" action="/contact/thank-you" data-netlify="true">
        <ol class="form">
          <li>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required="required"/>
          </li>
          <li>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required="required"/>
          </li>
          <li>
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
          </li>
          <li>
            <button type="submit">Send</button>
          </li>
        </ol>
      </form> -->
    </article>
  </div>
{{ end }}
