{{ define "main" }}
  <!-- Groups content according to the "client" field in front matter -->
  {{ range .Data.Pages.GroupByParam "client" }}
    <div class="client {{ .Key | urlize }}" id="{{ .Key | urlize }}">
      <!-- <img src="/static/images/work/{{ .Key | urlize }}.jpg" srcset="/static/images/work/{{ .Key | urlize }}.jpg 1x, /static/images/work/{{ .Key | urlize }}@2x.jpg 2x" alt="{{ .Key }}"/> -->
      <h1 class="client-name">{{ .Key }}</h1>
      <ul class="client-work">
          {{ range .Pages.ByWeight }}
          <li>
            <a href="{{ .RelPermalink }}">
              <h3>{{ .LinkTitle }}</h3>
              <p>{{ .Description }} <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
            </a>
          </li>
          {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
