html {
  background-color: $color-background;
}

a {
  color: #000;
  &:hover {
    color: complement(#5a7e92);
  }
}

audio,
embed,
iframe,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

form {
  max-width: 450px;
  > ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
      margin-bottom: 1em;
      > label {
        display: block;
        margin-bottom: 0.3em;
      }
      input,
      textarea {
        background-color: #fff;
        border: 0;
        width: 100%;
      }
      textarea {
        height: 100px;
      }
      button {
        background-color: #5a7e92;
        color: #fff;
        border: 0;
        &:hover {
          background-color: darken(#5a7e92, 10%);
        }
        &:active {
          background-color: complement(#5a7e92);
        }
      }
    }
  }
}
